<div class="container-md register-container d-flex justify-content-center align-items-center">
  <div class="form-container p-3">
    <h2 class="text-center">Sign Up to Eccom</h2>
    <nz-alert
      *ngIf="errorMessage"
      nzShowIcon
      nzType="error"
      [nzMessage]="errorMessage"
      [ngStyle]="{ 'margin-bottom': '1rem' }"
    ></nz-alert>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fullName">Full name</label>
        <input
          nz-input
          type="text"
          name="fullName"
          [(ngModel)]="fullName"
          placeholder="Enter your full name"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          nz-input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Enter your email address"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input
            nz-input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter a strong password"
            class="form-control"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="confirmPassword">Confirm password</label>
          <input
            nz-input
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            placeholder="Repeat your password"
            class="form-control"
          />
        </div>
      </div>
      
      <div class="text-center mt-4">
        <button
          nz-button
          type="submit"
          [disabled]="!canSubmit()"
          [nzLoading]="loading"
          class="btn btn-primary"
        >
          Sign up
        </button>
      </div>
      <div class="mt-2 text-center">
        <div><a routerLink="/login" class="text-secondary">Sign in with an existing user</a></div>
      </div>
    </form>
  </div>
</div>
```